.clock{
    color: black;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: white;
    color:#3b5998;
    justify-content: center;
}
.clock p{
    margin: 0;
    padding: 0 10px;
}
@media only screen and (max-width: 900px) {
    .clock {
      flex-direction: row;
    }
  }