.nav a{
    text-align:center;
}
.navbar-brand{
    font-size:30px;
    margin:0;
    padding:0;
}
#letA{
    font-size: 35px;
    background-color:red ; 
    padding-right: 4px;
    padding-left:4px;
}

hr{
    margin-top:65px;
    border:1px solid black;
}
section{
    height:100vh;
}

.profile-card-img{
    background-image: url("../images/landpage.jpg");
    height:300px;
    background-size:cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.profile-card{
    margin:15px;
    background-color:#ffffff;
    border-radius: 4px;
}


#myimg{
    margin-top:-70px;
    border-bottom:8px solid rgb(223, 61, 12);
    height: 200px;
}
#card-text{
    color:white;
    background-color:rgba(109, 109, 109, 0.315);
}
#discription{
    color:white;
    font-weight: 700;
    margin-top:20px;
    background-color:rgba(197, 5, 5, 0.9);
}
#text1{
   color:red;
    background-color:white;
    padding:20px;
}

#discText{
    background-color: rgba(199, 0, 0, 0.808);
}

#discText p{
    margin: 10px;
}
div.pullRight a:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}


.imgcont{
    width:100%;
}




/* footer */
#footerpad {
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #000000;
  }
  
  footer a:focus, footer a:hover {
    color: #0085A1;
  }

