.about_container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
    /* background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(148, 187, 233, 1) 100%); */
    z-index: -1;
}

@media only screen and (max-width: 900px) {
    .about_container {
        margin-top: 6rem;
    }
  }

.app_container {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-evenly;
    animation: flow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding-right: 10px;
    z-index: 1;
    margin-right: 1.5rem; 
    margin-bottom: 10px;
}

.data_container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
   
}

.app_name {
    color: white;
    background: rgb(10, 67, 190);
    height: 30px;
    width: 30px;
    border-radius: 5px;


    /* animation  */

}

.sign {
    animation: signAni;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes signAni {
    0% {
        opacity: 0;
        margin-left: -50%;
    }

    10% {
        opacity: 1;
    }

    15% {
        opacity: .2;
    }

    25% {
        opacity: 1;
    }

    ;

    30% {
        opacity: 0;
    }

    35% {
        opacity: 1;
    }

    45% {
        opacity: .2;
    }

    55% {
        opacity: 1;
    }

    ;

    60% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    85% {
        opacity: .2;
    }

    100% {
        opacity: 1;
        margin-left: 50%;
    }

    ;
}

@keyframes flow {
    0% {
        margin-right: -10%;
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    25% {
        margin-right: 0;
    }

    90% {
        opacity: 1;
    }

    100% {

        opacity: 0;
    }
}

.section_title {
    text-align: center;
    margin-top: 1rem;
    width: 80%;
    float: left;
    font-size: 1.3rem;
    padding: 0 10px;
    background: linear-gradient(90deg, rgba(247, 243, 3,0) 0%,rgba(247, 243, 3) 30%,rgba(247, 243, 3) 30%,rgba(247, 243, 3,0) 100%); 

}
.hr{
    background: white;
    box-shadow: none;
    width: 30%;
    border-width: 2px;
    
}